.box{
    background-color:black;
}
.text-center{
    display: block;
    text-align: center;
}
.text-center1{
    color: orange;
    display: block;
    text-align: center;
    font-size:xx-large;

}
.text-center2{
    color: orange;
    display: block;
    text-align: center;
    font-size:xx-large;

}
.text-center3{
    color: orange;
    display: block;
    text-align: center;
    font-size:xx-large;


}
